/* Purple 600: hsl(238, 40%, 52%)
- Pink 400: hsl(358, 79%, 66%)
- Purple 200: hsl(239, 57%, 85%)
- Pink 200: hsl(357, 100%, 86%)

### Neutral

- Grey 800: hsl(212, 24%, 26%)
- Grey 500: hsl(211, 10%, 45%)
- Grey 100: hsl(223, 19%, 93%)
- Grey 50: hsl(228, 33%, 97%)
- White: hsl(0, 100%, 100%) */

:root{
    --Purple_600: hsl(238, 40%, 52%);
    --Pink_400: hsl(358, 79%, 66%);
    --Purple_200: hsl(239, 57%, 85%);
    --Pink_200: hsl(357, 100%, 86%);

    --Grey_800: hsl(212, 24%, 26%);
    --Grey_500: hsl(211, 10%, 45%);
    --Grey_100: hsl(223, 19%, 93%);
    --Grey_50: hsl(228, 33%, 97%);
    --White: hsl(0, 100%, 100%);
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: var(--Grey_50);
    font-size: 1rem;
}

button:hover{
    cursor: pointer;
}

main{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding: 20px;
}

.comments_main_wrapper{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding: 20px;
    max-width: 60%;
}

.add_new_comment{
    padding: 20px;
    min-width: 60%;
}

.flx_hr{
    display: flex;
    gap: 1rem;
}

.comment_box{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 100%;
}

.main_comment{
    display: flex;
    gap: 1rem;
    padding: 20px;
    width: 100%;
    background-color: var(--White);
    border: transparent;
    border-radius: 10px;
}

.votes{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--Grey_100);
    padding: 20px;
    border: transparent;
    border-radius: 10px;
    color: var(--Purple_600);
    max-height: fit-content;
}

.votes svg:hover path{
    fill: var(--Purple_600);
    cursor: pointer;
}

.comment_txt{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.edit_comment{
    display: none;
    width: -webkit-fill-available;
    border-radius: 10px;
    border-color: var(--Grey_100);
    flex-grow: 1;
    padding: 10px;
    resize: none;
    outline-color: var(--Grey_500);
}

.update_btn{
    display: none;
    padding: 10px 20px;
    background: var(--Purple_600);
    height: fit-content;
    color: var(--White);
    border: transparent;
    border-radius: 10px;
}

.comment{

}

.comment.active .raw_comment{
    display: none;
}

.comment.active .edit_comment{
    display: block; 
}

.comment.active .update_btn{
    display: block; 
}

.top_third{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.top_right{
    display: flex;
}

.reply_btn{
    border:transparent;
    background: transparent;
    display: flex;
    gap: .5rem;
    color: var(--Purple_600);
}

.reply_btn:hover svg path, .edit_btn:hover svg path{
    fill: var(--Purple_200)
}

.reply_btn:hover, .edit_btn:hover{
    color: var(--Purple_200);
}

.delete_btn, .edit_btn{
    background: transparent;
    border: transparent;
    display: flex;
    gap: .3rem;
    cursor: pointer;
}

.edit_btn{
    color: var(--Purple_600);
}

.delete_btn{
    color: var(--Pink_400);
}

.delete_btn:hover{
    color: var(--Pink_200);
}

.delete_btn:hover svg path{
    fill: var(--Pink_200);
}

.top_left{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.avatar_wrapper{
    border: transparent;
    border-radius: 50%;
    height: 30px;
}

.avatar{
    height: 30px;
    object-fit: contain;
}

.time_posted{
    color: var(--Grey_500);
}

.you{
    padding: 2px 5px;
    background-color: var(--Purple_600);
    color: var(--White);
}

.replying_to{
    color: var(--Purple_600)
}

.replies_box{
    border-left: 1px solid var(--Grey_500);
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-end;
    margin-left: 20px;
}

.add_comment_wrapper{
    display: none;
    gap: 1rem;
    background-color: var(--White);
    padding: 20px;
    border: transparent;
    border-radius: 10px;
    width: 100%;
}

.post_comment{
    display: flex;
    gap: 1rem;
    background-color: var(--White);
    padding: 20px;
    border: transparent;
    border-radius: 10px;
    width: 100%;
}

.add_comment_wrapper.active{
    display: flex;
}

.comment_input{
    border-radius: 10px;
    border-color: var(--Grey_100);
    flex-grow: 1;
    padding: 10px;
    resize: none;
    outline-color: var(--Grey_500);
}

#comment_input{
    border-radius: 10px;
    border-color: var(--Grey_100);
    flex-grow: 1;
    padding: 10px;
    resize: none;
    outline-color: var(--Grey_500);

}

.send_btn{
    padding: 10px 20px;
    background: var(--Purple_600);
    height: fit-content;
    color: var(--White);
    border: transparent;
    border-radius: 10px;
}



@media (max-width: 700px){
    .main_comment{
        position: relative;
    }

    .comments_main_wrapper{
        max-width: 90%;
        padding: 0;
    }

    .votes{
        position:absolute;
        flex-direction: row;
        bottom: 10px;
        padding: 10px;
        font-size: 70%;
    }

    .comment_txt{
        margin-bottom: 40px;
    }

    .top_right {
        position: absolute;
        display: flex;
        bottom: 15px;
        right: 10px;
    }

    .add_new_comment{
        width: 100%;
    }

    .add_comment_wrapper, .post_comment{
        position: relative;
    }

    #comment_input, .comment_input{
        margin-bottom: 40px;
    }

    .current_user_avatar{
        position: absolute;
        bottom: 0;
        left: 5px;
        transform: scale(50%);
    }

    .send_btn{
        position: absolute;
        bottom: 15px;
        right: 20px;
    }
}